@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

:root {
  --green: rgb(11, 71, 35);
  --brown: rgb(104, 59, 17);
}

body,
html {
  margin: 0;
  background-attachment: fixed;
  background-image: url(./assets/Background.jpeg);
  /* height: 100vh; */
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  overflow-x: hidden;
  scroll-behavior: smooth;

  font-family: "Noto Sans", sans-serif;
}

section {
  background-color: white;
  height: 100vh;
  width: 100vw;
  padding: 3rem 0;
  margin: 0;
}

/* First section */

#start {
  background-color: transparent;
}

.start-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#message {
  color: white;
  text-shadow: 5px 8px 5px rgba(0, 0, 0, 0.3);
  font-size: 5rem;
  margin: 1rem;
  padding: 1rem;
  max-width: 700px;
  text-align: center;
}

#arrow {
  text-decoration: none;
  color: white;
  padding: 1rem;
  margin: 1rem;
}

#arrow i {
  font-size: 5rem;
}

#logo {
  size: contain;
  object-fit: contain;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #logo {
    width: 90vw;
    margin-bottom: 1rem;
  }

  .start-container {
    height: 100vh;
  }

  #message {
    font-size: 3rem;
  }
}

/* Nav bar */

nav {
  background-color: var(--green);
  position: fixed;
  top: 0;
  width: 100%;
  height: 5rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.desktop-navigator {
  display: flex;
  justify-content: right;
  overflow: hidden;
}

.desktop-navigator a {
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  height: 100%;
  text-align: center;
  transition: 1s ease;
  text-transform: uppercase;
  font-family: "Noto Sans", sans-serif;
  letter-spacing: 0.2rem;
  font-weight: lighter;
}

.desktop-navigator a:hover {
  /* background: #ddd; */
  color: white;
}

/* Hamburger navigator */

#menuToggle {
  display: block;
  position: fixed;
  top: 2rem;
  left: 2rem;

  z-index: 2;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
  * Just a quick hamburger
  */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
  * But let's hide the middle one.
  */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
  * Ohyeah and the last one should go the other direction
  */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
  * Make this absolute positioned
  * at the top left of the screen
  */
#menu {
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

/*
  * And let's slide it in from the left
  */
#menuToggle input:checked ~ ul {
  transform: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #menuToggle {
    display: block;
  }
  .desktop-navigator {
    display: none;
  }
}

@media (min-width: 641px) {
  #menuToggle {
    display: none;
  }
}

/* Leistungen */

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.card-container {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  max-width: 70vw;
}

.card {
  background-color: whitesmoke;
  max-width: 30%;
  border-radius: 2px;
  margin-bottom: 1rem;
}

.card img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
  border-radius: 2px 2px 0 0;
}

.card p {
  padding: 1rem;
  padding-top: 0;
  font-size: 1rem;
}

.card h3 {
  padding: 1rem;
  color: var(--green);
  font-size: 2rem;
  margin-bottom: 0;
}

h1 {
  margin: 3rem;
  padding: 1rem;
  font-size: 3rem;
  text-transform: uppercase;
  font-family: "Noto Sans", sans-serif;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .card-container {
    flex-direction: column;
  }
  .card {
    max-width: 100%;
  }

  section {
    height: auto;
  }
}

/* Ueber uns section */

#ueber-uns {
  display: flex;
}

.left {
  max-width: 50vw;
  background-color: whitesmoke;
}

.left p {
  margin: 3rem;
  font-size: 1.3rem;
  padding: 1rem;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50vw;
  /* background-color: blue; */
}

.right img {
  width: 100%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .right {
    display: none;
  }
  .left {
    max-width: 100vw;
  }
}

/* Projekte */
/* Carousel */

#projekte {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  padding-bottom: 3rem;
}

.main-gallery {
  height: 70vh;
  width: 60vw;
}

.gallery-cell {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.gallery-cell img {
  /* width: 100%; */
  height: 100%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .main-gallery {
    width: 90vw;
  }
  .gallery-cell {
    width: 100%;
  }
}

/* Kontakt */

.info-box {
    margin: 3rem;
    padding: 1rem;
}

.info-box h3 {
    color: var(--green);
}

.r {
   width: 30vw;
   margin: 3rem 0;
}

.info-box a {
    color: var(--green);
    text-decoration: none;
    padding: 1rem 3rem;
    border-radius: 5px;
    background-color: whitesmoke;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .r {
        width: 60vw;
    }
}