/* Kontakt */

#kontakt {
  background-color: whitesmoke;
  position: relative;
  height: 93vh;
}

.info-box {
  display: flex;
  padding: 0 1rem;
  width: 100%;
  /* background-color: brown; */
  justify-content: space-around;
  /* background-color: blue; */
}

h2 {
  color: var(--green);
}

.r {
  width: auto;
  margin: 3rem 0;
  max-height: 500px;
  /* background-color: red; */
  max-width: 300px;
  /* line-height: 2rem; */
}

.l {
  width: auto;
  margin: 3rem 0;
  max-height: 500px;
  /* background-color: red; */
}

.r p {
  line-height: 2rem;
}

.info-box a {
  text-decoration: none;
  color: var(--brown);
}

.info-box p {
  margin: 1rem 0;
  font-size: 1.3rem;
}

.button {
  /* padding: 1rem 3rem; */
  border-radius: 5px;
  /* background-color: var(--green); */
  width: 100px;
}

#impressum {
  position: relative;
  bottom: 0.5rem;
  left: 3rem;

  color: #1e2d3b;
  text-decoration: none;
}

.hobel {
  width: 100%;
  /* height: auto; */
  position: absolute;
  bottom: 0;
  border-bottom: 15px solid var(--brown);
  /* background-color: blue; */
}

#hobel-image {
  position: absolute;
  bottom: -2px;
  right: 10%;
  height: 13rem;
  /* background-color: red; */
}

.logo-container {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* background-color: brown; */
}

.logo-small {
  display: none;
}

.logo-big {
  /* margin: 0; */
  margin-bottom: 10rem;
  height: 10rem;
  /* background-color: blue; */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .info-box {
    height: auto;
    flex-direction: column;
    justify-content: stretch;
  }
  #kontakt {
    height: auto;
  }

  .l {
    margin-bottom: 0.5rem;
  }
  .r {
    margin-top: 0;
    height: auto;
    max-width: 90vw;
    margin-bottom: 0.3rem;
  }
  .hobel {
    height: 5vh;
  }
  .hobel img {
    display: none;
  }

  .logo-big {
    display: none;
  }

  .logo-small {
    display: block;
    margin: 0;
    height: 10rem;
    /* background-color: red; */
  }

  #impressum {
    position: static;
    /* background-color: red; */
  }
  .impressum-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* background-color: blue; */
  }
  .logo-container {
    margin: 0 0 1rem 0;
  }
}
