/* First section */

#start {
  background-color: transparent;
}

.start-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#message {
  color: white;
  text-shadow: 5px 8px 5px rgba(0, 0, 0, 0.3);
  font-size: 5rem;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  text-align: center;
}

#arrow {
  text-decoration: none;
  color: white;
  padding: 1rem;
  margin: 1rem;
  text-shadow: 5px 8px 5px rgba(0, 0, 0, 0.3);
}

#arrow i {
  font-size: 5rem;
}

#logo {
  size: contain;
  object-fit: contain;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #logo {
    width: 90vw;
    margin-bottom: 1rem;
  }

  .start-container {
    height: 100vh;
  }

  #message {
    font-size: 3rem;
  }
}
