@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

:root {
  --green: rgb(11, 71, 35);
  --brown: rgb(104, 59, 17);
}

body,
html {
  margin: 0;
  background-attachment: fixed;
  background-image: url(../assets/Background.jpeg);
  /* height: 100vh; */
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  overflow-x: hidden;
  scroll-behavior: smooth;

  font-family: "Noto Sans", sans-serif;

  text-align: justify;
  color: #3B3A3A;
}

section {
  background-color: white;
  height: 100vh;
  width: 100vw;
  padding: 3rem 0;
  margin: 0;
}

h1 {
  text-align: start;
  margin: 3rem;
  padding: 1rem;
  font-size: 3rem;
  /* text-transform: uppercase; */
  font-family: "Noto Sans", sans-serif;
  color: #1E2D3B;
}

h2 {
  text-align: start;
  font-size: 2rem;
  font-family: "Noto Sans", sans-serif;
}

h3 {
  text-align: start;
}