/* Projekte */
/* Carousel */

#projekte {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  padding-bottom: 3rem;
  /* background-color: red; */
}

.main-gallery {
  height: 70vh;
  width: 60vw;
}

.gallery-cell {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.gallery-cell img {
  /* width: 100%; */
  height: 100%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .main-gallery {
    width: 90vw;
  }
  .gallery-cell {
    width: 100%;
  }
}
